.header_right {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 1s;
    margin-left: 15px;
  }

  @keyframes example {
    
    0%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }  

.header_div {width:80%;
    margin-left: auto;
    margin-right: auto;
    display:block; 
    position: relative;
    animation-delay: 4s;
    animation-name: example2;
    animation-duration: 4s;
  }

  @keyframes example2 {
    
    0%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }  

h3{font-family: Arial ;
    line-height: 39px;
    color: #2a2b6b;
text-align: left;}  

h2{font-family: Arial ;
    line-height: 39px;
    color: #2a2b6b;
    font-weight: bold;
text-align: left;}

h1{    font-size: 40px;
    font-weight:unset;
    text-align: center!important;}